<%= form_for(@coustomer) do |f| %>
  <% if @coustomer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coustomer.errors.count, "error") %> prohibited this coustomer from being saved:</h2>

      <ul>
      <% @coustomer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
