<div id="show-<%=comment.id%> show-tweet-timeline ">
  <span class="name col-lg-10" style="color:inherit;font-size:110%"><b><%= comment.user.name.capitalize %></b></span> 
  <br><br>
  <p id="show-tweet", class="col-lg-12 ", style="font-size:120%" >
    &nbsp<%= comment.body %><br><br>
    <% if comment.tweet_id == comment.tweet.id %>
      &nbsp<%=link_to "", [comment.tweet, comment], method: :delete,style: "color:blue",class: "glyphicon glyphicon-trash" %><hr>
    <% end %>
  </p><hr>
</div>