<p>
  <strong>Post:</strong>
  <%= post.post_body %>
</p>
 

 
<p>
  <%= link_to 'Destroy Comment', [post.user, post],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>