<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<%= form_for([@user, @user.posts.build]) do |f| %>  <p>
    <%= f.label :post_body %><br>
    <%= f.text_field :post_body %>
  </p>
  
  <p>
    <%= f.submit %>
  </p>
<% end %>