<div class="qv rc alu ss">
        <div class="qw">
        <h5 class="ald">Likes <small>·<a class="View All" href="#"> </a></small></h5>
        <ul class="qo anx">
          <li class="qf alm">
            <a class="qj" href="#">
              <!-- <img class="qh cu" src="./avatar-fat.jpg"> -->
              <%= image_tag "avatar-fat.jpg", class:"qh cu"  %>
            </a>
            <div class="qg">
              <strong>@John</strong> @fat
              <div class="aoa">
                <button class="cg ts fx">
                  <span class="h vc"></span> Follow</button>
              </div>
            </div>
          </li>
           <li class="qf">
            <a class="qj" href="#">
              <!-- <img class="qh cu" src="./avatar-mdo.png"> -->
              <%= image_tag "avatar-mdo.png", class:"qh cu"  %>
            </a>
            <div class="qg">
              <strong>@John</strong> @mdo
              <div class="aoa">
                <button class="cg ts fx">
                  <span class="h vc"></span> Follow</button>
              </div>
            </div>
          </li>
        </ul>
        </div>
        <div class="qz">
          Dave really likes these nerds, no one knows why though.
        </div>
      </div>