<div class="qv rc alu ss">
  <div class="qw">
    <h5 class="ald">Sponsored</h5>
    <div data-grid="images" data-target-height="150">
      <%= image_tag "instagram_2.jpg", class: "qh", style:"width: 245px; height: 230px;"%>
    </div>
    <p><strong>It might be time to visit Iceland.</strong> Iceland is so chill, and everything looks cool here. Also, we heard the people are pretty nice. What are you waiting for?</p>
    <button class="cg ts fx">Buy a ticket</button>
  </div>
</div>
