  <div class="gn">
      <div class="qv rc aog alu">
        <div class="qx" style="background-image: url(assets/iceland.jpg);"></div>
        <div class="qw dj">
          <a href="https://bootstrap-themes.github.io/application/profile/index.html">
        <%= link_to user_path(current_user.id) do %>
            <%= image_tag "avatar-dhg.png", class: "aoh" %>
         <%end%>

          <h5 class="qy">
            <a class="aku" href="https://bootstrap-themes.github.io/application/profile/index.html"><%=current_user.name%></a>
          </h5>

          <p class="alu">I wish i was a little bit taller, wish i was a baller, wish i had a girl…&nbsp;also.</p>

          <ul class="aoi">
            <li class="aoj">
              <a href="#userModal" class="aku" data-toggle="modal">
                Friends
                <h5 class="ali">12M</h5>
              </a>
            </li>

            <li class="aoj">
              <a href="#userModal" class="aku" data-toggle="modal">
                Enemies
                <h5 class="ali">1</h5>
              </a>
            </li>
          </ul>
        </div>
      </div>