<div class="tab-content">
  <% @products.each do |product| %>
    <div class="tab-pane fade active in" id="<%=product.category_id%>" >
        <div class="col-sm-3">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <%= image_tag(product.pictures.find_by(imageable_id: product.id).image.url) %>
                <h2>Rs.<%= product.price %></h2>
                <p>Easy Polo Black Edition</p>
                <%= link_to(cart_items_path(product_id: product.id),:method => :post, class: "btn btn-default add-to-cart") do %><i class="fa fa-shopping-cart"></i>Add to cart<% end %>
              </div>
            </div>
          </div>
        </div>
    </div>
  <%end%>
</div>