<div class= "panel panel-info">
    <div class = "panel-heading">
      <h3>Post a Tweet</h3>
    </div>
    <br>
    <div class = "panel-body">
      <%= form_for @tweet do |f| %>
        <%= f.text_area :body, size: "79x3",style: 'border-radius: 10px;margin-bottom:12px' %>
        <div class="col-lg-5">
          <%= f.file_field :image,style: '10px;margin-bottom:12px' %>
        </div>
        <div class="col-lg-6">
          <%= f.submit "Tweet", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>