<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>
 
<p>
  <strong>designation:</strong>
  <%= @employee.designation %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @employee.salary%>
</p>


<%= link_to 'Bake', employees_path %>